<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <mapping resource="AdministratorHibernate.hbm.xml"/>
  <mapping resource="IzvjestajOdjelaHibernate.hbm.xml"/>
  <mapping resource="IzvjestajZaposlenikaHibernate.hbm.xml"/>
  <mapping resource="OdjelHibernate.hbm.xml"/>
  <mapping resource="ProjekatHibernate.hbm.xml"/>
  <mapping resource="TaskHibernate.hbm.xml"/>
  <mapping resource="TimesheetHibernate.hbm.xml"/>
  <mapping resource="ZaposlenikHibernate.hbm.xml"/>
  <mapping resource="OdjelZaposlenikHibernate.hbm.xml"/>
  <mapping resource="TimesheetTaskHibernate.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
