<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">2014SIEtf</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/tim2</property>
  <property name="hibernate.connection.username">EtfSI2014</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/AdministratorHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/IzvjestajOdjelaHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/IzvjestajZaposlenikaHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/OdjelHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/ProjekatHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/TaskHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/TimesheetHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/ZaposlenikHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/OdjelZaposlenikHibernate.hbm.xml"/>
  <mapping resource="ba/etf/unsa/si/KlaseHibernate/TimesheetTaskHibernate.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
